.projects {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

.projects h2 {
  margin-bottom: 20px;
  color: #58a6ff;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #58a6ff;
}

.project-card h3 {
  color: #58a6ff;
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
}

.popup-content {
  background: #0d1117;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 20px #58a6ff;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
p {
  color: white;
}
footer {
  text-align: center;
  padding: 15px 0;
  background: #161b22;}
